* {
    font-family: 'Josefin Sans', sans-serif;
}
.text-white {
    color: white;
}
.text-blue {
    color: #5b82cf;
}
#fondoazul {
    background-color: #2362ad;
    margin: 0 !important;
    padding: 3%;
}
.margen15top {
    margin-top: 15%;
}
.margen5top {
    margin-top: 5%;
}
.logosmall {
    width: 60%;
}
.margen2top {
    margin-top: 2%;
}
.separador {
    margin-top: -6%;
}

/*HEADER*/

.backgroundmodal{
  background-image: url("../image/large.jpg");
}
.navbar .navbar-nav>li>a {
    color: white;
}
.icon-bar {
    background-color: white;
}
.h1margen2 {
    margin-bottom: 3%;
}
.fontmenu {
    font-family: 'Days One', sans-serif;
    font-size: 110%;
}
#fondoheader {
    background-image: url("../image/large.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    opacity:;
}

/*SERVICIOS*/

.icongrande {
    font-size: 200%;
    box-shadow: 10px 10px 5px #888888;
    padding: 5%;
}

/*SECCION TEXTO-IMG*/

.imglapsec2 {
    width: 130%;
    height: 600px;
}
ul {
    list-style: none;
}
.iconlist {
    background-color: #95c6da;
    margin-left: 28%;
    margin-bottom: 100%;
    padding: 13%;
}
.bannerimg {
    width: 100%;
}

/*EFECTO HOVER IMG LAP OPACIDAD*/

a.opacity img {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    -khtml-opacity: 0.5;
}
a.opacity:hover img {
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    -khtml-opacity: 1.0;
}

/*EFECTO HOVER COLOR IMG BANER*/

a.set2 {
    display: inline-block;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -ms-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    transition: box-shadow 0.2s ease-out;
}
a.set2:hover {
    box-shadow: inset 0 0 90px -20px #373737;
}
a.set2 img {
    position: relative;
    z-index: -1;
    vertical-align: bottom;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.set2:hover img {
    -webkit-filter: grayscale(1);
}

/*FOOTER*/
#mymodal{
  background-image: url("../image/large.jpg");
  width: 100%;
  background-position: cover;
}
#fondoazulfoo {
    background-color: #1c4abe;
}
#fondogris {
    background-color: #655c5f;
}
.iconfooter {
    font-size: 200%;
    color: blue;
    padding: 3%;
}
